<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		
		<title>${title}</title>
		
	</head>
	<body>
		
		<h1> Welcome To Your Bank </h1>
		
	</body>
</html>